<menu>
    <Services>
        <DeviceMonitor cssClass="fa fa-plug fw" VisibleName="Device Monitor">
            <Devices url="/ui/devicemonitor/index/devices" VisibleName="Devices" order="10"/>
            <Settings url="/ui/devicemonitor/index/settings" VisibleName="Settings" order="20"/>
        </DeviceMonitor>
    </Services>
</menu>
